{% extends 'base.html' %}
{% block content %}

<body>
    <div class="container mt-3">
        <div class= "row d-flex justify-content-around mb-3">
            {% for post in post_list %}
            <div class="card mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ post.song_name }} - {{ post.song_artist }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug %}" class="card-link btn btn-outline-secondary">Read</a>
                </div>
                <div class="card-footer text-body-secondary">
                    {{ post.author }} - {{ post.created_on }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




</body>

{% endblock %}